body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

/* HEADER */

section {
  max-width: 1030px;
  margin: 0 auto;
  padding: 46px 0 15px 0;
}

.background {
  background: url("../img/background.png");
  background-size: cover;
  width: 100%;
  height: 100%;
}
.section {
  /* прижимаю футер */
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-logo img {
  margin-bottom: 8px;
}

/* меняю цвет логотипа */
.header-logo .header-logo-img:nth-of-type(2) {
  display: none;
}

.header-logo:hover .header-logo-img:nth-of-type(1) {
  display: none;
}

.header-logo:hover .header-logo-img:nth-of-type(2) {
  display: block;
}

.logo-wrapper {
  color: #fff;
  font-weight: 700;
}
.header-logo:hover .logo-wrapper {
  color: #f26522;
}

.logo-title {
  font-size: 29px;
}
.logo-subtitle {
  font-size: 18px;
}

.header-contact {
  display: flex;
  flex-direction: column;
  gap: 19px;
  align-items: flex-end;
}

.header-contact a:hover {
  color: #f26522;
}

/* MAIN */

main {
  /* прижимаю футер */
  flex: 1 1 auto;
}

.tour-list {
  margin-top: 19px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 37px 57px;
}

.tour-item {
  max-width: 303px;
  max-height: 260px;
  text-align: center;
  position: relative;
}
.tour-image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-title {
  margin-top: 20px;
}

.tour-hover {
  background-color: #f26522;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 167px;
  width: 100%;
  height: 55px;
  padding: 7px 16px 12px;
  align-items: center;
  opacity: 0;
  transition: all 1s ease;
}

.tour-item:hover .tour-hover {
  opacity: 1;
  transition: opacity 0.8s;
}
.tour-item:hover .image-title {
  transition: all 0.8s ease;
  color: #f26522;
}
.tour-price {
  display: flex;
  flex-direction: column;
  line-height: 20px;
  font-size: 14px;
}
.from {
  font-size: 10px;
}
.price {
  font-size: 20px;
}

.view-details {
  padding-top: 10px;
}
.view-details::after {
  content: ">";
  padding-left: 12px;
  width: 5px;
  height: 5px;
  color: #fff;
}

/* FOOTER */

.copyright {
  text-align: center;
  color: #fff;
}
